<a href="https://colab.research.google.com/github/VikasMusham/2025BT17-18/blob/main/2303A51155_B17_Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

students = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'name': ['Amit', 'Neha', 'Rahul', 'Pooja', 'Arjun'],
    'gender': ['M', 'F', 'M', 'F', 'M']
})

exam_scores = pd.DataFrame({
    'student_id': [1, 2, 4, 5, 6],
    'math_score': [88, 75, 90, 95, 60],
    'english_score': [92, 85, 87, 90, 70]
})

print("Students Dataset:")
print(students, '\n')

print("Exam Scores Dataset:")
print(exam_scores, '\n')

inner_join = pd.merge(students, exam_scores, on='student_id', how='inner')
print("Inner Join Result:")
print(inner_join, '\n')

left_join = pd.merge(students, exam_scores, on='student_id', how='left')
print("Left Join Result:")
print(left_join, '\n')

right_join = pd.merge(students, exam_scores, on='student_id', how='right')
print("Right Join Result:")
print(right_join, '\n')

print("Aggregate Statistics:")
print("Mean scores:\n", inner_join[['math_score', 'english_score']].mean())
print("\nMax scores:\n", inner_join[['math_score', 'english_score']].max())
print("\nMin scores:\n", inner_join[['math_score', 'english_score']].min())
print("\nCount:\n", inner_join[['math_score', 'english_score']].count())

grouped_stats = inner_join.groupby('gender')[['math_score', 'english_score']].agg(['mean', 'max', 'min', 'count'])
print("\nGrouped Statistics by Gender:")
print(grouped_stats)

Students Dataset:
   student_id   name gender
0           1   Amit      M
1           2   Neha      F
2           3  Rahul      M
3           4  Pooja      F
4           5  Arjun      M

Exam Scores Dataset:
   student_id  math_score  english_score
0           1          88             92
1           2          75             85
2           4          90             87
3           5          95             90
4           6          60             70

Inner Join Result:
   student_id   name gender  math_score  english_score
0           1   Amit      M          88             92
1           2   Neha      F          75             85
2           4  Pooja      F          90             87
3           5  Arjun      M          95             90

Left Join Result:
   student_id   name gender  math_score  english_score
0           1   Amit      M        88.0           92.0
1           2   Neha      F        75.0           85.0
2           3  Rahul      M         NaN            NaN
3           4  Pooja      F        90.0           87.0
4           5  Arjun      M        95.0           90.0

Right Join Result:
   student_id   name gender  math_score  english_score
0           1   Amit      M          88             92
1           2   Neha      F          75             85
2           4  Pooja      F          90             87
3           5  Arjun      M          95             90
4           6    NaN    NaN          60             70

Aggregate Statistics:
Mean scores:
 math_score       87.0
english_score    88.5
dtype: float64

Max scores:
 math_score       95
english_score    92
dtype: int64

Min scores:
 math_score       75
english_score    85
dtype: int64

Count:
 math_score       4
english_score    4
dtype: int64

Grouped Statistics by Gender:
       math_score               english_score
             mean max min count          mean max min count
gender
F            82.5  90  75     2          86.0  87  85     2
M            91.5  95  88     2          91.0  92  90     2

In [3]:
import pandas as pd

customers = pd.read_csv("customers.csv")
sales = pd.read_csv("sales.csv")

inner_merged = pd.merge(sales, customers, on="customer_id", how="inner")
left_merged = pd.merge(sales, customers, on="customer_id", how="left")

total_sales = inner_merged["amount"].sum()
mean_sales = inner_merged["amount"].mean()
sales_per_customer = inner_merged.groupby("customer_id")["amount"].sum().reset_index()
region_stats = inner_merged.groupby("region")["amount"].agg(["sum", "mean", "count"]).reset_index()

print("Inner Merge:\n", inner_merged)
print("\nLeft Merge:\n", left_merged)
print("\nTotal Sales:", total_sales)
print("Mean Sales:", mean_sales)
print("\nSales per Customer:\n", sales_per_customer)
print("\nRegion-wise Stats:\n", region_stats)

Inner Merge:
    sale_id  customer_id  amount   name region
0      101            1     500   Amit  North
1      102            2     700   Neha  South
2      103            3     300  Rahul   East
3      104            1     400   Amit  North
4      105            5     600  Arjun  North
5      106            4     800  Pooja   West
6      107            2     900   Neha  South
7      108            3     200  Rahul   East
8      109            5    1000  Arjun  North
9      110            1     700   Amit  North

Left Merge:
    sale_id  customer_id  amount   name region
0      101            1     500   Amit  North
1      102            2     700   Neha  South
2      103            3     300  Rahul   East
3      104            1     400   Amit  North
4      105            5     600  Arjun  North
5      106            4     800  Pooja   West
6      107            2     900   Neha  South
7      108            3     200  Rahul   East
8      109            5    1000  Arjun  North
9      110            1     700   Amit  North

Total Sales: 6100
Mean Sales: 610.0

Sales per Customer:
    customer_id  amount
0            1    1600
1            2    1600
2            3     500
3            4     800
4            5    1600

Region-wise Stats:
   region   sum   mean  count
0   East   500  250.0      2
1  North  3200  640.0      5
2  South  1600  800.0      2
3   West   800  800.0      1